#ifndef SETTINGS_HPP
#define SETTINGS_HPP

#include <Arduino.h>

#define PIN_SIGNAL_OUTPUT D6
#define PIN_SIGNAL_INPUT D7
#define PIN_LED D8
#define PIN_BUTTON_1 D9
#define PIN_BUTTON_2 D10
#define EEPROM_INITIALIZED_SIZE 4096
#define MAX_SIGNAL_LENGTH 64
#define EEPROM_START_INDEX 0
#define DEBUG_MODE false
#define COMMS_ENABLED true

#endif